.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: $primaryColor;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}
.hero-right {
    text-align: left;
    width: calc(50% - 150px);
}
.hero-left {
    text-align: right;
    width: calc(50% - 150px);
}

.m-auto {
    margin: auto;
}
.mw-1000 {
    padding: 0 10px;
    max-width: 1000px;
}
.text-center {
    text-align: center;
}