.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: $primaryColor;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.hero-right {
  text-align: left;
  width: calc(50% - 150px);
}

.hero-left {
  text-align: right;
  width: calc(50% - 150px);
}

.m-auto {
  margin: auto;
}
.mw-500 {
    padding: 0 10px;
    max-width: 500px;
}
.mw-1000 {
  padding: 0 10px;
  max-width: 1000px;
}

.text-center {
  text-align: center;
}
footer .supporter {
  color: #fff;
}
footer .supporter a {
  width: 186px;
  height: 75px;
  margin: 0 15px 20px 15px;
  display: inline-block;
  vertical-align: top;
  display: inline-flex;
  align-content: center;
  justify-content: center;

}
footer .supporter a.w-75 {
  width: 75px;
}
footer .supporter a.w-150 {
  width: 150px;
}
footer .supporter img {
  max-height: 75px;
  max-width: 100%;
}



/*Added by Janki*/

.text-uppercase {
  text-transform: uppercase;
}

.hero-left .h4 {
  font-size: 1.5rem;
  line-height: 1.3;
}

.hero-left h1 {
  margin-top: 0;
}

.hero-left small {
  font-size: 80%;
}

.hero-right {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 3rem;
}


/*button css*/

.btn {
  display: inline-block;
  border: 1px solid var(--color, white);
  color: var(--color, $primaryColor);
  background: var(--background, white);
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.btn:hover {
  background: var(--color, white);
}

.btn-outline-pearl {
  --color: #fff;
  --background: transparent;
}

@media(min-width: 992px) {
  .hero-right p {
    max-width: 430px;
  }
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
}

@media (max-width: 991px) {
  .hero-left,
  .hero-right {
    text-align: center;
    width: 100%;
  }
}
