{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env" : {
    "node" : true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ]
  }
}
